.css{
	font-size:36px;
	text-align:center;
	color:#F0C;
	margin-bottom:20px;
	margin-top:-30px;
}
table tr td input
{
	width:110%;
	height:30px;
	
	padding-left:10px;

	font-size:16px;
	background:#f9f9f9;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.btn{
	width:30%;
	height:30px;
	
	padding-left:10px;

	font-size:16px;
	background:#FFF;
	border-bottom-right-radius:5px;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	margin-left:25px;
	margin-top:20px;

}
div.container{
 width: 500px;
 height: 610px;
 margin:35px auto;
 font-family: 'Raleway', sans-serif;
}
 
div.main{
 width: 400px;
 padding: 10px 50px 25px;
 border: 2px solid gray;
 border-radius: 10px;
 font-family: raleway;
 float:left;
 margin-top:60px;
}